<h1><%= @admin.name %>,</h1>
<p>Seus dados foram atualizados por <b><%= @current_admin.name %></b>.</p>
<!-- Preview do email pode ser visto no link 
    https://trade-app-cacaudev.c9users.io/rails/mailers/admin_mailer/update_email
->